$main-color-yellow:#FFCC00;
$main-color-middle:#e3e3e3;

.main__button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border: none;
  margin: 0 0 0 10px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: -6px -6px 16px #fff, 6px 6px 16px #d1cdc7;
  transition: 0.5s;
  outline: none;

  &:hover {
    /*filter: invert(100%);    */
    background-color: $main-color-yellow;
    transition-duration: 0.5s;
    box-shadow: 0 0 4px $main-color-yellow;
    cursor: pointer;
    background-image: linear-gradient(135deg, #FD6E6A 10%, #FFC600 100%);
  }

}

.aside__button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border: none;
  background-color: transparent;

  &:hover img {
    filter: invert(30%);
    transition: 0.5s;
    cursor: pointer;

  }

}