@import "_reset.scss";
@import "_button.scss";
@import "_gallery.scss";
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,600|Open+Sans:400,600,700&display=swap&subset=cyrillic');

@font-face {
    font-family: 'Modern No. 20';
    src: url('../fonts/Modern No. 20.eot');
    src: url('../fonts/Modern No. 20.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Modern No. 20.woff2') format('woff2'),
        url('../fonts/Modern No. 20.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;

    unicode-range: U+0020-02DC;
}

// Font Variables
@mixin Montserrat-300 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
}

@mixin Montserrat-600 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

@mixin Open-Sans-600 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
}

@mixin Open-Sans-400 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}




$main-color-dark:#2c2c2c;
$main-color-light:#f7f7f7;
$main-color-middle:#e3e3e3;
$main-color-yellow:#FFCC00;


body {
    @include Open-Sans-400;
}

.skills {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 250px;
}

.gallery {
    display: flex;
    flex-wrap: wrap;

    img {
        opacity: 1;
        transition: 1s;
        width: 42%;
        margin: 2%;
        border: 1px solid;

        &:hover {
            opacity: 0.9;
            transition: 1s;
            cursor: pointer;
        }
    }
}

.progress-bar__container {
    width: 110px;
}

.progress-bar {
    width: 100%;
    background-color: #43413f;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
}

.progress-bar-fill {
    display: block;
    height: 13px;
    background-color: black;
    transition: width 500ms ease-in-out;
}


.intro {
    max-width: 1260px;
    margin: 0 auto;
    /*background-color: $main-color-light;*/
    border-right: 3px solid #e3e3e3;
    display: flex;
}

aside {
    width: 28%;
    background-color: $main-color-yellow;
    color: $main-color-dark;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: sticky;
    top: 0;
    height: 100vh;


    h3 {
        @include Montserrat-600;
        padding: 10px 0 0 0;
        font-size: 35px;
        text-transform: uppercase;
        text-align: center;
    }

    p {
        font-size: 15px;
        line-height: 1.2;
        text-align: center;
        @include Montserrat-300;

        a {

            color: $main-color-dark;
            font-size: 15px;
            text-decoration: none;

            &:hover {
                text-decoration: underline;
                color: $main-color-light;
            }
        }

    }

    .round {
        border-radius: 100%;
        border: 5px solid $main-color-dark;
        width: 240px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .aside__info {
        //border-bottom: 1px solid $main-color-dark;

        h4 {
            @include Open-Sans-600;
            text-align: center;
            text-transform: uppercase;
            padding: 10px 0;
            font-size: 25px;
        }
    }

    .aside__mail {
        border-bottom: 1px solid $main-color-dark;
    }

    .aside__maps {
        border-bottom: 1px solid $main-color-dark;
    }

    .main-image {
        display: flex;
        justify-content: center;
        /*  -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%);
    filter: gray; IE 6-9 */

    }

    .aside__links {
        display: flex;
        justify-content: center;

    }

}



main {
    position: relative;
    overflow: hidden;
    width: 72%;

    section {
        display: flex;
        flex-direction: row;
        padding: 0 50px;


        .section__icon {
            flex: 1;
            width: 40px;
            padding: 0 15px;
            padding-top: 30px;
        }

        .section__name {
            @include Open-Sans-600;
            flex: 10;
            font-size: 43px;
            padding-top: 30px;
            color: $main-color-dark;


            hr {
                font-size: 7px;
            }
        }

        .section__work {
            flex: 2;
            width: 40px;
            padding: 0 15px;
            color: #808285;
            line-height: 1.2;

            p {

                color: rgb(0, 0, 0);
                font-weight: bold;
                text-transform: uppercase;
                line-height: 1.2;

            }

            ;
        }

        .section__work__about {
            @include Open-Sans-400;
            flex: 6;
            color: #878787;
            line-height: 25px;
            border-left: 1px solid black;
            padding-left: 40px;
            color: rgb(128, 130, 133);
            line-height: 1.5;


            //for progress
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;




        }

    }

    .main__header {
        margin: 20px 0 0 0px;
        background-color: $main-color-middle;
        height: 165px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .main__header--logo {
        #logo {
            width: 104px;
        }

        color: rgb(18, 18, 18);
        display: flex;

        h2 {
            @include Montserrat-600;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            font-size: 35px;
            padding: 5px 10px 10px 10px;
            text-transform: uppercase;

            span {
                letter-spacing: 4.0px;
                font-family: "Modern No. 20";
            }

        }

    }

    .main__footer {
        display: flex;
        justify-content: space-around;
        padding: 8px 0;
    }

    .main__links {
        display: flex;
        justify-content: flex-end;

    }

    .main__about {
        @include Montserrat-300;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        align-items: center;
        font-size: 25px;
        color: rgb(18, 18, 18);
    }
}

/*
@media (max-height: 660px) {
    aside {
        overflow: scroll;

        .round {
            width: 150px;
        }
    }


}*/



@media screen and (max-width: 768px) and (orientation: landscape) {
    .intro {
        flex-direction: column-reverse;
    }
}

@media screen and (max-width: 768px) {
    .intro {
        flex-direction: column-reverse;
    }

    .main__footer {
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }

    aside {
        flex-direction: row;
        height: unset;
        width: 100%;
        position: relative;
        padding: 0px 0px;

        .main-image {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .round {
            width: 100px;
            height: 100px;
        }

        .aside__info {
            display: none;
        }

        h3 {
            display: none;
        }

        p {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .aside__links {
            display: none;
        }
    }

    main {
        width: 100%;
        overflow: unset;

        section {
            padding: 0 5px;
            flex-direction: column;

            .section__work {
                width: unset;
                //padding: 0 15px;
            }

            .section__work__about {
                padding-left: 30px;
                border-left: 1px solid $main-color-middle;
            }
        }

        .section__header {
            flex-direction: row;
        }
    }


}





@media screen and (max-width: 414px) {

    .intro {
        border-right: unset;
    }

    .intro {
        flex-direction: column-reverse;
    }

    .intro {
        border-right: unset;
    }

    aside {
        background-color: unset;

        p {
            background-color: #fc0;
            border-radius: 0px 50px 50px 50px;
            margin: 12px;
            padding: 15px;

        }
    }



    .main__header {
        height: 84px !important;

        .main__header--logo {

            #logo {
                width: 60px;
            }

            h2 {
                font-size: 22px;
            }
        }
    }

    .main__footer {
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;

        .main__about {
            font-size: 16px;
        }


    }

    .section__header {
        .section__name {
            font-size: 30px;
        }
    }

    .section__work {
        span {
            display: flex;
            justify-content: space-between;
            color:
                #404040;
        }
    }
}

@media only screen and (min-width: 812px) and (orientation: landscape) and (-webkit-device-pixel-ratio : 3) {

    .intro {
        border-right: unset;
    }

    .intro {
        flex-direction: column-reverse;
    }

    .main__footer {
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }

    aside {
        flex-direction: row;
        height: unset;
        width: 100%;
        position: relative;
        padding: 0px 0px;

        .main-image {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .round {
            width: 100px;
            height: 100px;
        }

        .aside__info {
            display: none;
        }

        h3 {
            display: none;
        }

        p {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .aside__links {
            display: none;
        }
    }

    main {
        width: 100%;
        overflow: unset;

        section {
            padding: 0 5px;
            flex-direction: column;

            .section__work {
                width: unset;

                //padding: 0 15px;
                span {
                    display: flex;
                    justify-content: space-between;
                    color:
                        #404040;
                }
            }


            .section__work__about {
                padding-left: 30px;
                border-left: 1px solid $main-color-middle;
            }
        }

        .section__header {
            flex-direction: row;
        }
    }
}