.main__button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border: none;
  margin: 0 0 0 10px;
  background-color: #e3e3e3;

  &:hover {
    /*filter: invert(100%);    */
    background-color: #fc0;
    transition-duration: 0.5s;
    box-shadow: 0 0 4px rgb(255, 204, 0);
    cursor: pointer;
  }

}

.aside__button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border: none;

  background-color: #fc0;

  &:hover img {
    filter: invert(30%);
    transition: 0.5s;
    cursor: pointer;

  }

}