/* http://meyerweb.com/eric/tools/css/reset/
   v4.0 | 20180602
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css?family=Montserrat:300,600|Open+Sans:400,600,700&display=swap&subset=cyrillic");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
main, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, main, menu, nav, section {
  display: block;
}

/* HTML5 hidden-attribute fix for newer browsers */
*[hidden] {
  display: none;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.main__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 40px;
  height: 40px;
  border: none;
  margin: 0 0 0 10px;
  background-color: #e3e3e3;
}

.main__button:hover {
  /*filter: invert(100%);    */
  background-color: #fc0;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  -webkit-box-shadow: 0 0 4px #ffcc00;
          box-shadow: 0 0 4px #ffcc00;
  cursor: pointer;
}

.aside__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 40px;
  height: 40px;
  border: none;
  background-color: #fc0;
}

.aside__button:hover img {
  -webkit-filter: invert(30%);
          filter: invert(30%);
  -webkit-transition: 0.5s;
  transition: 0.5s;
  cursor: pointer;
}

@font-face {
  font-family: 'Modern No. 20';
  src: url("../fonts/Modern No. 20.eot");
  src: url("../fonts/Modern No. 20.eot?#iefix") format("embedded-opentype"), url("../fonts/Modern No. 20.woff2") format("woff2"), url("../fonts/Modern No. 20.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-02DC;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}

.skills {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 250px;
}

.gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.gallery img {
  -webkit-filter: invert(10%);
          filter: invert(10%);
  -webkit-transition: 1s;
  transition: 1s;
  width: 42%;
  margin: 2%;
  border: 1px solid;
}

.gallery img:hover {
  -webkit-filter: invert(0%);
          filter: invert(0%);
  -webkit-transition: 1s;
  transition: 1s;
  cursor: pointer;
}

.progress-bar__container {
  width: 110px;
}

.progress-bar {
  width: 100%;
  background-color: #43413f;
  -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
}

.progress-bar-fill {
  display: block;
  height: 13px;
  background-color: black;
  -webkit-transition: width 500ms ease-in-out;
  transition: width 500ms ease-in-out;
}

.intro {
  max-width: 1260px;
  margin: 0 auto;
  /*background-color: $main-color-light;*/
  border-right: 3px solid #e3e3e3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

aside {
  width: 28%;
  background-color: #FFCC00;
  color: #2c2c2c;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  height: 100vh;
}

aside h3 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  padding: 10px 0 0 0;
  font-size: 35px;
  text-transform: uppercase;
  text-align: center;
}

aside p {
  font-size: 15px;
  line-height: 1.2;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
}

aside p a {
  color: #2c2c2c;
  font-size: 15px;
  text-decoration: none;
}

aside p a:hover {
  text-decoration: underline;
  color: #f7f7f7;
}

aside .round {
  border-radius: 100%;
  border: 5px solid #2c2c2c;
  width: 240px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

aside .aside__info h4 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  padding: 10px 0;
  font-size: 25px;
}

aside .aside__mail {
  border-bottom: 1px solid #2c2c2c;
}

aside .aside__maps {
  border-bottom: 1px solid #2c2c2c;
}

aside .main-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  /*  -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%);
    filter: gray; IE 6-9 */
}

aside .aside__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main {
  position: relative;
  overflow: hidden;
  width: 72%;
}

main section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 0 50px;
}

main section .section__icon {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  width: 40px;
  padding: 0 15px;
  padding-top: 30px;
}

main section .section__name {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  -webkit-box-flex: 10;
      -ms-flex: 10;
          flex: 10;
  font-size: 43px;
  padding-top: 30px;
  color: #2c2c2c;
  text-transform: uppercase;
}

main section .section__name hr {
  font-size: 7px;
}

main section .section__work {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  width: 40px;
  padding: 0 15px;
  color: #808285;
  line-height: 1.2;
}

main section .section__work p {
  color: black;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.2;
}

main section .section__work__about {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  -webkit-box-flex: 6;
      -ms-flex: 6;
          flex: 6;
  color: #878787;
  line-height: 25px;
  border-left: 1px solid black;
  padding-left: 40px;
  color: #808285;
  line-height: 1.5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main .main__header {
  margin: 20px 0 0 0px;
  background-color: #e3e3e3;
  height: 165px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .main__header--logo {
  color: #121212;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main .main__header--logo #logo {
  width: 104px;
}

main .main__header--logo h2 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  font-size: 35px;
  padding: 5px 10px 10px 10px;
  text-transform: uppercase;
}

main .main__header--logo h2 span {
  letter-spacing: 4.0px;
  font-family: "Modern No. 20";
}

main .main__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 8px 0;
}

main .main__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

main .main__about {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 25px;
  color: #121212;
}

/*
@media (max-height: 660px) {
    aside {
        overflow: scroll;

        .round {
            width: 150px;
        }
    }


}*/
@media screen and (max-width: 768px) {
  .intro {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .main__footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  aside {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    height: unset;
    width: 100%;
    position: relative;
    padding: 0px 0px;
  }
  aside .main-image {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  aside .round {
    width: 100px;
    height: 100px;
  }
  aside .aside__info {
    display: none;
  }
  aside h3 {
    display: none;
  }
  aside p {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  aside .aside__links {
    display: none;
  }
  main {
    width: 100%;
    overflow: unset;
  }
  main section {
    padding: 0 5px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  main section .section__work {
    width: unset;
  }
  main section .section__work__about {
    padding-left: 30px;
    border-left: 1px solid #e3e3e3;
  }
  main .section__header {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

@media screen and (max-width: 375px) {
  .main__header {
    height: 84px !important;
  }
  .main__header .main__header--logo #logo {
    width: 60px;
  }
  .main__header .main__header--logo h2 {
    font-size: 22px;
  }
  .main__footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .main__footer .main__about {
    font-size: 16px;
  }
  .section__header .section__name {
    font-size: 30px;
  }
}
/*# sourceMappingURL=stylesheet.css.map */